<nav class="navbar navbar-expand navbar-dark bg-primary">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="/">Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/acerca-de">Acerca de</a>
    </li>
  </ul>
  <ul class="navbar-nav mr-2">
    <li class="nav-item">
      <a class="btn btn-light" href="/registro">Registro</a>
    </li>
    <li class="nav-item">
      <a class="btn btn-light mx-2" href="/inicio-sesion">Inicio de Sesión</a>
    </li>
  </ul>
</nav>
