<div class="row">
  <div class="col-md-12">

    <% flash.get('mensaje').forEach(function (msg) { %>
      <div class="alert alert-info text-center" role="alert">
        <%=msg%>
      </div>
    <% }) %>

    <div class="jumbotron text-white">
      <h1>
        Bienvenido!
      </h1>
      <p>
        En este sitio podrás comprar tus fotos preferidas...
      </p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3 my-2">
    <div class="card">
      <h5 class="card-header bg-info text-white">
        Verde
      </h5>
      <div class="card-body">
        <p class="card-text">
          <img src="images/img1.jpg" alt="" class="w-100">
        </p>
      </div>
      <div class="card-footer">
      </div>
    </div>
  </div>
  <div class="col-md-3 my-2">
    <div class="card">
      <h5 class="card-header bg-info text-white">
        Olas
      </h5>
      <div class="card-body">
        <p class="card-text">
          <img src="images/img2.jpg" alt="" class="w-100">
        </p>
      </div>
      <div class="card-footer">
      </div>
    </div>
  </div>
  <div class="col-md-3 my-2">
    <div class="card">
      <h5 class="card-header bg-info text-white">
        Árboles
      </h5>
      <div class="card-body">
        <p class="card-text">
          <img src="images/img3.jpg" alt="" class="w-100">
        </p>
      </div>
      <div class="card-footer">
      </div>
    </div>
  </div>
  <div class="col-md-3 my-2">
    <div class="card">
      <h5 class="card-header bg-info text-white">
        ByN
      </h5>
      <div class="card-body">
        <p class="card-text">
          <img src="images/img4.jpg" alt="" class="w-100">
        </p>
      </div>
      <div class="card-footer">
      </div>
    </div>
  </div>
  <div class="col-md-3 my-2">
    <div class="card">
      <h5 class="card-header bg-info text-white">
        Verde
      </h5>
      <div class="card-body">
        <p class="card-text">
          <img src="images/img1.jpg" alt="" class="w-100">
        </p>
      </div>
      <div class="card-footer">
      </div>
    </div>
  </div>
  <div class="col-md-3 my-2">
    <div class="card">
      <h5 class="card-header bg-info text-white">
        Olas
      </h5>
      <div class="card-body">
        <p class="card-text">
          <img src="images/img2.jpg" alt="" class="w-100">
        </p>
      </div>
      <div class="card-footer">
      </div>
    </div>
  </div>
  <div class="col-md-3 my-2">
    <div class="card">
      <h5 class="card-header bg-info text-white">
        Árboles
      </h5>
      <div class="card-body">
        <p class="card-text">
          <img src="images/img3.jpg" alt="" class="w-100">
        </p>
      </div>
      <div class="card-footer">
      </div>
    </div>
  </div>
  <div class="col-md-3 my-2">
    <div class="card">
      <h5 class="card-header bg-info text-white">
        ByN
      </h5>
      <div class="card-body">
        <p class="card-text">
          <img src="images/img4.jpg" alt="" class="w-100">
        </p>
      </div>
      <div class="card-footer">
      </div>
    </div>
  </div>
</div>
